In [186]:
import numpy as np # linear algebra
import pandas as pd

In [187]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [188]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [189]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [190]:
movies= movies.merge(credits,on='title')

In [191]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [192]:
#genres
#id
#keyword
#title
#language
#moverview
#release date
#cast
#crew
movies.info()
movies = movies[['movie_id','genres','original_language','overview','popularity','cast','crew','vote_count','keywords','release_date']]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [193]:
movies.isnull().sum()

movie_id             0
genres               0
original_language    0
overview             3
popularity           0
cast                 0
crew                 0
vote_count           0
keywords             0
release_date         1
dtype: int64

In [194]:
movies.dropna(inplace=True)
movies.isnull().sum()

movie_id             0
genres               0
original_language    0
overview             0
popularity           0
cast                 0
crew                 0
vote_count           0
keywords             0
release_date         0
dtype: int64

In [195]:
movies.duplicated().sum()

0

In [196]:
movies.drop_duplicates(inplace=True)

In [197]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [198]:
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# [action, adventure, fantsy,sci fi]

In [199]:
#helper fuction to convert list in object
def convert(obj):
    List=[]
    for i in ast.literal_eval(obj):
        List.append(i['name'])
    return List

In [200]:
#this lib helps to convert it into better format
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [201]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,genres,original_language,overview,popularity,cast,crew,vote_count,keywords,release_date
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",11800,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",2009-12-10
1,285,"[Adventure, Fantasy, Action]",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",4500,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",2007-05-19
2,206647,"[Action, Adventure, Crime]",en,A cryptic message from Bond’s past sends him o...,107.376788,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",4466,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",2015-10-26
3,49026,"[Action, Crime, Drama, Thriller]",en,Following the death of District Attorney Harve...,112.312950,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",9106,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",2012-07-16
4,49529,"[Action, Adventure, Science Fiction]",en,"John Carter is a war-weary, former military ca...",43.926995,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",2124,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",2012-03-07

In [202]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,genres,original_language,overview,popularity,cast,crew,vote_count,keywords,release_date
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",11800,"[culture clash, future, space war, space colon...",2009-12-10
1,285,"[Adventure, Fantasy, Action]",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",4500,"[ocean, drug abuse, exotic island, east india ...",2007-05-19
2,206647,"[Action, Adventure, Crime]",en,A cryptic message from Bond’s past sends him o...,107.376788,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",4466,"[spy, based on novel, secret agent, sequel, mi...",2015-10-26
3,49026,"[Action, Crime, Drama, Thriller]",en,Following the death of District Attorney Harve...,112.312950,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",9106,"[dc comics, crime fighter, terrorist, secret i...",2012-07-16
4,49529,"[Action, Adventure, Science Fiction]",en,"John Carter is a war-weary, former military ca...",43.926995,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",2124,"[based on novel, mars, medallion, space travel...",2012-03-07

In [203]:
def convert3(obj):
    List=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:             #for 3 names of actors from column 
            List.append(i['name'])
            counter+=1
        else:
            break
    return List

In [204]:
movies['cast']=movies['cast'].apply(convert3)
movies.head()

,movie_id,genres,original_language,overview,popularity,cast,crew,vote_count,keywords,release_date
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",11800,"[culture clash, future, space war, space colon...",2009-12-10
1,285,"[Adventure, Fantasy, Action]",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",4500,"[ocean, drug abuse, exotic island, east india ...",2007-05-19
2,206647,"[Action, Adventure, Crime]",en,A cryptic message from Bond’s past sends him o...,107.376788,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",4466,"[spy, based on novel, secret agent, sequel, mi...",2015-10-26
3,49026,"[Action, Crime, Drama, Thriller]",en,Following the death of District Attorney Harve...,112.312950,"[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",9106,"[dc comics, crime fighter, terrorist, secret i...",2012-07-16
4,49529,"[Action, Adventure, Science Fiction]",en,"John Carter is a war-weary, former military ca...",43.926995,"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",2124,"[based on novel, mars, medallion, space travel...",2012-03-07

In [205]:
def fetch_director(obj):
    List=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            List.append(i['name'])
            break
    return List

In [206]:
movies['crew']=movies['crew'].apply(fetch_director)

In [207]:
movies.head()

,movie_id,genres,original_language,overview,popularity,cast,crew,vote_count,keywords,release_date
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],11800,"[culture clash, future, space war, space colon...",2009-12-10
1,285,"[Adventure, Fantasy, Action]",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],4500,"[ocean, drug abuse, exotic island, east india ...",2007-05-19
2,206647,"[Action, Adventure, Crime]",en,A cryptic message from Bond’s past sends him o...,107.376788,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],4466,"[spy, based on novel, secret agent, sequel, mi...",2015-10-26
3,49026,"[Action, Crime, Drama, Thriller]",en,Following the death of District Attorney Harve...,112.312950,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],9106,"[dc comics, crime fighter, terrorist, secret i...",2012-07-16
4,49529,"[Action, Adventure, Science Fiction]",en,"John Carter is a war-weary, former military ca...",43.926995,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],2124,"[based on novel, mars, medallion, space travel...",2012-03-07

In [208]:
movies['overview']=movies['overview'].apply(lambda x:x.split())
movies.head()

,movie_id,genres,original_language,overview,popularity,cast,crew,vote_count,keywords,release_date
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",en,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],11800,"[culture clash, future, space war, space colon...",2009-12-10
1,285,"[Adventure, Fantasy, Action]",en,"[Captain, Barbossa,, long, believed, to, be, d...",139.082615,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],4500,"[ocean, drug abuse, exotic island, east india ...",2007-05-19
2,206647,"[Action, Adventure, Crime]",en,"[A, cryptic, message, from, Bond’s, past, send...",107.376788,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],4466,"[spy, based on novel, secret agent, sequel, mi...",2015-10-26
3,49026,"[Action, Crime, Drama, Thriller]",en,"[Following, the, death, of, District, Attorney...",112.312950,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],9106,"[dc comics, crime fighter, terrorist, secret i...",2012-07-16
4,49529,"[Action, Adventure, Science Fiction]",en,"[John, Carter, is, a, war-weary,, former, mili...",43.926995,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],2124,"[based on novel, mars, medallion, space travel...",2012-03-07

In [ ]:
#the main problem here now arives is that when the model will suggest the names the might bea possiblitiy 
#that it might show things with same strings like the first initials of director and actor

In [215]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [221]:
movies['original_language']=list.(movies['original_language'])#movies['genres'] = movies['genres'].apply(convert)
movies.head()

SyntaxError: invalid syntax (Temp/ipykernel_12912/2458904674.py, line 1)

In [214]:
movies['tags']=movies['genres']+movies['original_language']+movies['overview']+movies['cast']+movies['crew']+movies['keywords']